.project-overview {
    .projects {
        .title {
            margin: @spacing;
        }
        .project {
            cursor: pointer;
            
            .icon {
                position: absolute;
                top: @spacing;
                left: @spacing;
            }
            .delete {
                position: absolute;
                top: @spacing;
                right: @spacing;
            }
        }
    }
}