.project-overview {
    .projects {
        .title {
            margin: @spacing;
        }
        .project {
            .delete {
                position: absolute;
                top: @spacing;
                right: @spacing;
            }
        }
    }
}